﻿<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!-- Included CSS Files (Uncompressed) -->
    <!--
    <link rel="stylesheet" href="stylesheets/foundation.css">
    -->
    <!-- Included CSS Files (Compressed) -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/foundation.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/app.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/responsive-tables.css")">
    <script type="text/javascript" src="@Url.Content("~/Scripts/app.js")""></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/foundation.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/modernizr.foundation.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/responsive-tables.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jscharts.js")"></script>
    <!-- IE Fix for HTML5 Tags -->
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    @RenderBody()
</body>
</html>